.card {
  height: 70vh;
  width: 55vh;
  border-radius: 16px;
}

.card-title {
  font-size: 2rem;
  padding: .5rem;
  border-radius: 8px;
}

.card-body {
  justify-content: space-between;
}

#categoryList {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#activityList {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

select {
    font-size: 1rem;
    width: 75%;
    height: 12%;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card {
    top: 50%;
}