/* body {} */

.card {
  width: 45vw;
  min-width: 640px;
  height: 100%;
  border-radius: 16px;
  margin-bottom: 6rem;
  top: 50%;
}

h4 {
  margin: 0.4rem;
  text-align: center;
}

.card-title {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 8px;
  width: 55%;
}

.card-body {
  justify-content: space-between;
}

#categoryList {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#activityList {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

select {
  font-size: 1rem;
  width: 75%;
  height: 12%;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

button {
  margin-bottom: 2rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.price-text {
  font-size: 2rem;
}

.card-footer-items {
  padding-block: 0.1rem;
}

.footer-button {
  padding-inline: 2rem;
  font-size: 1.5rem;
}

#displayResultOnClick {
  font-size: 1.2rem;
}