body {
  display: flex;
  flex-direction: column;
}

h1 {
  filter: drop-shadow(3px 2px 4px black);
  text-align: center;
}

img {
  filter: drop-shadow(3px 2px 4px black);
}

.double-hero {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25rem;
}

a:-webkit-any-link {
  text-decoration: none !important;
}
