nav {
  justify-content: space-between;
}

.nav-links > a {
  padding-inline: 2rem;
  margin-inline: 0.5rem;
}

header {
  padding-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.logo {
  font-size: 1.5rem;
}

.card {
  font-size: 1.5em;
}
select {
  height: 3rem;
  font-size: 1.3rem;
}
 